@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    Welcome to my webshop. This is where I sell my selfmade crochet products. Feel free to message me at JanineCrochet@gmail.com for custom orders!
    Have fun shopping (:
</div>
 